USE [master]
GO
/****** Object:  Database [TourDB]    Script Date: 27/06/2018 15:38:37 ******/
CREATE DATABASE [TourDB] ON  PRIMARY 
( NAME = N'TourDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQL2008R2\MSSQL\DATA\TourDB.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TourDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQL2008R2\MSSQL\DATA\TourDB_log.LDF' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TourDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TourDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 27/06/2018 15:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Kullanicis]    Script Date: 27/06/2018 15:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicis](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[adi] [nvarchar](20) NULL,
	[soyadi] [nvarchar](20) NULL,
	[kadi] [nvarchar](50) NOT NULL,
	[sifre] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_dbo.Kullanicis] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rezervasyons]    Script Date: 27/06/2018 15:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rezervasyons](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](20) NOT NULL,
	[soyad] [nvarchar](20) NOT NULL,
	[eposta] [nvarchar](max) NOT NULL,
	[telefon] [nvarchar](max) NOT NULL,
	[turtarihi] [date] NOT NULL,
	[reztarihi] [date] NOT NULL,
	[aciklama] [nvarchar](max) NULL,
	[onay] [bit] NOT NULL,
	[tur_id] [int] NULL,
 CONSTRAINT [PK_dbo.Rezervasyons] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SayfaResimleris]    Script Date: 27/06/2018 15:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SayfaResimleris](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[resimadi] [nvarchar](max) NULL,
	[sayfa_id] [int] NULL,
 CONSTRAINT [PK_dbo.SayfaResimleris] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sayfas]    Script Date: 27/06/2018 15:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sayfas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[baslik] [nvarchar](20) NOT NULL,
	[link] [nvarchar](max) NOT NULL,
	[icerik] [nvarchar](max) NULL,
	[title] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[keyword] [nvarchar](max) NULL,
	[onay] [bit] NOT NULL,
	[konum] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Sayfas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TurResimleris]    Script Date: 27/06/2018 15:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TurResimleris](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[resimadi] [nvarchar](max) NULL,
	[tur_id] [int] NULL,
 CONSTRAINT [PK_dbo.TurResimleris] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Turs]    Script Date: 27/06/2018 15:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[turadi] [nvarchar](30) NOT NULL,
	[icerik] [nvarchar](max) NULL,
	[turzamani] [nvarchar](max) NULL,
	[kisabilgi] [nvarchar](max) NULL,
	[fiyat] [decimal](18, 2) NOT NULL,
	[title] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[keyword] [nvarchar](max) NULL,
	[onay] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Turs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TurYorumlaris]    Script Date: 27/06/2018 15:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TurYorumlaris](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[adsoyad] [nvarchar](30) NOT NULL,
	[eposta] [nvarchar](max) NOT NULL,
	[yorum] [nvarchar](max) NULL,
	[tarih] [date] NOT NULL,
	[onay] [bit] NOT NULL,
	[tur_id] [int] NULL,
 CONSTRAINT [PK_dbo.TurYorumlaris] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Kullanicis] ON 

INSERT [dbo].[Kullanicis] ([id], [adi], [soyadi], [kadi], [sifre]) VALUES (1, N'ramazan', N'aras', N'ra', N'1')
INSERT [dbo].[Kullanicis] ([id], [adi], [soyadi], [kadi], [sifre]) VALUES (2, N'ahmet', N'hann', N'ahmett', N'12345')
INSERT [dbo].[Kullanicis] ([id], [adi], [soyadi], [kadi], [sifre]) VALUES (3, N'ali', N'sennnn', N'aliii', N'435345')
SET IDENTITY_INSERT [dbo].[Kullanicis] OFF
SET IDENTITY_INSERT [dbo].[Rezervasyons] ON 

INSERT [dbo].[Rezervasyons] ([id], [ad], [soyad], [eposta], [telefon], [turtarihi], [reztarihi], [aciklama], [onay], [tur_id]) VALUES (3, N'ramazan', N'arasss', N'rasad', N'21313', CAST(0x20380B00 AS Date), CAST(0x01380B00 AS Date), N'asda', 0, 1)
INSERT [dbo].[Rezervasyons] ([id], [ad], [soyad], [eposta], [telefon], [turtarihi], [reztarihi], [aciklama], [onay], [tur_id]) VALUES (4, N'ali', N'asdasd', N'eqwq', N'21313', CAST(0x5B380B00 AS Date), CAST(0x79380B00 AS Date), N'adasd', 1, 1)
INSERT [dbo].[Rezervasyons] ([id], [ad], [soyad], [eposta], [telefon], [turtarihi], [reztarihi], [aciklama], [onay], [tur_id]) VALUES (7, N'metinnnnn', N'asdasdttrg', N'eqwq', N'534', CAST(0x6E380B00 AS Date), CAST(0x8D380B00 AS Date), N'adasdyfytry', 0, 2)
SET IDENTITY_INSERT [dbo].[Rezervasyons] OFF
SET IDENTITY_INSERT [dbo].[SayfaResimleris] ON 

INSERT [dbo].[SayfaResimleris] ([id], [resimadi], [sayfa_id]) VALUES (1, N'hakkimizda.jpg', 1)
INSERT [dbo].[SayfaResimleris] ([id], [resimadi], [sayfa_id]) VALUES (2, N'iletisim.jpg', 4)
INSERT [dbo].[SayfaResimleris] ([id], [resimadi], [sayfa_id]) VALUES (3, N'a3.jpg', 5)
SET IDENTITY_INSERT [dbo].[SayfaResimleris] OFF
SET IDENTITY_INSERT [dbo].[Sayfas] ON 

INSERT [dbo].[Sayfas] ([id], [baslik], [link], [icerik], [title], [description], [keyword], [onay], [konum]) VALUES (1, N'Hakkımızda', N'dsadad', N'hakkımızda sayfasıdır', N'hakkımızda title', N'hakkımızda description', N'hakkimizda,about,biz kimiz', 1, 0)
INSERT [dbo].[Sayfas] ([id], [baslik], [link], [icerik], [title], [description], [keyword], [onay], [konum]) VALUES (4, N'İletişim', N'adaeqwe', N'iletişim sayfasıdır', N'iletişim title', N'iletişim description', N'iletisim,communication', 1, 0)
INSERT [dbo].[Sayfas] ([id], [baslik], [link], [icerik], [title], [description], [keyword], [onay], [konum]) VALUES (5, N'Ulaşım', N'asdda', N'<p><strong>dasdadad</strong></p>
', N'asda', N'dasaeqweqweqw', N'eqeqe', 1, 1)
SET IDENTITY_INSERT [dbo].[Sayfas] OFF
SET IDENTITY_INSERT [dbo].[TurResimleris] ON 

INSERT [dbo].[TurResimleris] ([id], [resimadi], [tur_id]) VALUES (1, N'kapadokya.jpg', 1)
INSERT [dbo].[TurResimleris] ([id], [resimadi], [tur_id]) VALUES (2, N'pamukkale.jpg', 2)
INSERT [dbo].[TurResimleris] ([id], [resimadi], [tur_id]) VALUES (3, N'paris.jpg', 5)
SET IDENTITY_INSERT [dbo].[TurResimleris] OFF
SET IDENTITY_INSERT [dbo].[Turs] ON 

INSERT [dbo].[Turs] ([id], [turadi], [icerik], [turzamani], [kisabilgi], [fiyat], [title], [description], [keyword], [onay]) VALUES (1, N'kapadokya', N'<p><strong>1.G&Uuml;N</strong></p>

<p>Perşembe Hareket</p>

<p><strong>2.G&Uuml;N</strong></p>

<p>Cuma:Antik kent gezisi</p>
', N'Her Perşembe', N'peri bacaları', CAST(150.00 AS Decimal(18, 2)), N'dasdad', N'asda', N'eqweq', 1)
INSERT [dbo].[Turs] ([id], [turadi], [icerik], [turzamani], [kisabilgi], [fiyat], [title], [description], [keyword], [onay]) VALUES (2, N'Pamukkale', N'<p>asdadad</p>
', N'Öğleden Sonra', N'asda', CAST(200.00 AS Decimal(18, 2)), N'asdasd', N'asdad', N'asdasd', 1)
INSERT [dbo].[Turs] ([id], [turadi], [icerik], [turzamani], [kisabilgi], [fiyat], [title], [description], [keyword], [onay]) VALUES (4, N'İstanbul turu', N'qwewqeqeqw', N'Akşam', N'dasdasd', CAST(300.00 AS Decimal(18, 2)), N'asdasd', N'dasd', N'wqe', 1)
SET IDENTITY_INSERT [dbo].[Turs] OFF
SET IDENTITY_INSERT [dbo].[TurYorumlaris] ON 

INSERT [dbo].[TurYorumlaris] ([id], [adsoyad], [eposta], [yorum], [tarih], [onay], [tur_id]) VALUES (3, N'semaaasssawwqqeqwe', N'dasdaaasss', N'yorum 1111111111dddsa', CAST(0x51390B00 AS Date), 1, 1)
INSERT [dbo].[TurYorumlaris] ([id], [adsoyad], [eposta], [yorum], [tarih], [onay], [tur_id]) VALUES (8, N'melih', N'dasdad', N'yorum 2 ', CAST(0xDB3A0B00 AS Date), 0, 2)
INSERT [dbo].[TurYorumlaris] ([id], [adsoyad], [eposta], [yorum], [tarih], [onay], [tur_id]) VALUES (11, N'mert', N'asdad', N'weqeqe', CAST(0xB4360B00 AS Date), 1, 1)
SET IDENTITY_INSERT [dbo].[TurYorumlaris] OFF
/****** Object:  Index [IX_tur_id]    Script Date: 27/06/2018 15:38:37 ******/
CREATE NONCLUSTERED INDEX [IX_tur_id] ON [dbo].[Rezervasyons]
(
	[tur_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_sayfa_id]    Script Date: 27/06/2018 15:38:37 ******/
CREATE NONCLUSTERED INDEX [IX_sayfa_id] ON [dbo].[SayfaResimleris]
(
	[sayfa_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_tur_id]    Script Date: 27/06/2018 15:38:37 ******/
CREATE NONCLUSTERED INDEX [IX_tur_id] ON [dbo].[TurResimleris]
(
	[tur_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_tur_id]    Script Date: 27/06/2018 15:38:37 ******/
CREATE NONCLUSTERED INDEX [IX_tur_id] ON [dbo].[TurYorumlaris]
(
	[tur_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Rezervasyons]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Rezervasyons_dbo.Turs_tur_id] FOREIGN KEY([tur_id])
REFERENCES [dbo].[Turs] ([id])
GO
ALTER TABLE [dbo].[Rezervasyons] CHECK CONSTRAINT [FK_dbo.Rezervasyons_dbo.Turs_tur_id]
GO
ALTER TABLE [dbo].[SayfaResimleris]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SayfaResimleris_dbo.Sayfas_sayfa_id] FOREIGN KEY([sayfa_id])
REFERENCES [dbo].[Sayfas] ([id])
GO
ALTER TABLE [dbo].[SayfaResimleris] CHECK CONSTRAINT [FK_dbo.SayfaResimleris_dbo.Sayfas_sayfa_id]
GO
ALTER TABLE [dbo].[TurResimleris]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TurResimleris_dbo.Turs_tur_id] FOREIGN KEY([tur_id])
REFERENCES [dbo].[Turs] ([id])
GO
ALTER TABLE [dbo].[TurResimleris] CHECK CONSTRAINT [FK_dbo.TurResimleris_dbo.Turs_tur_id]
GO
ALTER TABLE [dbo].[TurYorumlaris]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TurYorumlaris_dbo.Turs_tur_id] FOREIGN KEY([tur_id])
REFERENCES [dbo].[Turs] ([id])
GO
ALTER TABLE [dbo].[TurYorumlaris] CHECK CONSTRAINT [FK_dbo.TurYorumlaris_dbo.Turs_tur_id]
GO
USE [master]
GO
